<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="container">
    <div class="row vertical-offset-100">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Inicio de Sesión</h3>
			 	</div>
			  	<div class="panel-body">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
                            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "E-mail" %>
			    		</div>
			    		<div class="form-group">
			    			<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		  <% if devise_mapping.rememberable? -%>
                                    <div class="field">
                                      <%= f.check_box :remember_me %>
                                      <%= f.label :remember_me %>
                                    </div>
                                  <% end -%>
			    	    	</label>
			    	    </div>
			    	    <%= f.submit "Iniciar Sesión", class: "btn btn-lg btn-success btn-block" %>
			    	    <%= render "users/shared/links" %>
			    	</fieldset>
			      	</form>
			    </div>
			</div>
		</div>
	</div>
</div>
<% end %>


