<%= form_with(model: juego, local: true) do |form| %>
  <% if juego.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(juego.errors.count, "error") %> prohibited this juego from being saved:</h2>

      <ul>
      <% juego.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>
<div class="pd">
<form>
 <div class="col-md-12 col-sm-12 col-xs-12 padd" role="form" id="form">
 <h1><legend>Formulario de registro/edición</legend></h1>
  <div class="form-group">
    <%= form.label :nombre, class: "control-label col-md-2" %>
    <%= form.text_field :nombre, id: :juego_nombre, class:"form-control"%>
  </div>

  <div class="form-group">
    <%= form.label :descripcion, class: "control-label col-md-2" %>
    <%= form.text_area :descripcion, id: :juego_descripcion, class:"form-control", :rows => 6 %>
  </div>

  <div class="form-group">
    <%= form.label :desarrollador, class: "control-label col-md-2" %>
    <%= form.text_field :desarrollador, id: :juego_desarrollador, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :plataforma, class: "control-label col-md-2" %>
    <%= form.select :plataforma, options_for_select([
    ["Seleccione una opción", ""],
    ["XBOX ONE", "XBOX ONE"],
    ["WII U", "WII U"],
    ["PLAY STATION 4", "PLAY STATION 4"],
    ["PC", "PC"]
    ]), {}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :modojuego, class: "control-label col-md-2" %>
    <%= form.select :modojuego, options_for_select([
    ["Seleccione una opción", ""],
    ["ACCIÓN", "ACCIÓN"],
    ["RPG", "RPG"],
    ["SHOOTER", "SHOOTER"],
    ["DEPORTES", "DEPORTES"]
    ]), {}, {:class => "form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :imagen, class: "control-label col-md-2" %>
    <%= form.file_field :image, id: :juego_image, class:"form-control" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-primary btn-lg center-block" %>
  </div>  
  <div class="actions">
      <center><%= link_to 'Mostrar', @juego, class: "btn btn-warning" %>
      <%= link_to 'Rregresar', juegos_path, class: "btn btn-info" %></center>
</div>
    </div>
</form>
</div>
<% end %>
