<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../../assets/stylesheets/reg.scss">
  
<div class="container">
			<div class="row main">
				<div class="panel-heading">
	               <div class="panel-title text-center">
	               		<h2 class="title">Juegos Chidos -Formulario de  registro</h1>
	               		<hr />
	               	</div>
	            </div> 
				<div class="main-login main-center">
					<form class="form-horizontal" method="post" action="#">

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Ingrese su email" %>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Contraseña</label>
                                    <% if @minimum_password_length %>
                                    <em>(<%= @minimum_password_length %> caracteres como minimo)</em>
                                    <% end %>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
									<%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Ingrese su contraseña" %>
								</div>
							</div>
						</div>
						
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Confirmar contraseña</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
									<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirme su contraseña" %>
								</div>
							</div>
						</div>

						<div class="form-group ">
							<%= f.submit "Registrarse", class: "btn btn-primary btn-lg btn-block login-button" %>
						</div>
						<%= render "users/shared/links" %>
					</form>
				</div>
			</div>
		</div>

<% end %>

